/.DS_Store
calculateExAndLfAcc/.DS_Store
calculateExAndLfAcc/wikisql/.DS_Store
calculateExAndLfAcc/wikisql/lib/__pycache__/common.cpython-312.pyc
calculateExAndLfAcc/wikisql/lib/__pycache__/dbengine.cpython-312.pyc
calculateExAndLfAcc/wikisql/lib/__pycache__/query.cpython-312.pyc
TrainData/.DS_Store
